.mypage_container .orderDetail_list {
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 10px;
}


.orderDetail_list > h3  {
    margin-bottom: 10px;
}


.od_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.od_1 > dl> dt {
    font-weight: bold;
}

.od_1 > dl > dd {
    margin-left: 10px;
}

.od_1 > dl, .orderDetail_list > h3 {
    padding: 5px;
}


.list_1_1 {
    justify-content: space-between;
}

.orderDetail_list > ul > li {
    border: none;
}

#od_ReviewBtn {
    justify-content: center;
}

.list_2 > .inactiveBtn {
    background-color: #f0f0f0;
    color: black;
    cursor: default;
}

.list_2 > button {
    width: 100px;
    height: 40px;
    font-size: small;
}


.orderDetail_list > ul > li > span:nth-child(1){
    display: inline-block;
    width: 6em;
    font-weight: bold;
}

.orderDetail_list > ul > li > span {
    padding: 5px;
}

























/* .orderDetail_list > dl, 
.product_list, 
.pList_1,
.od_pList_cntAtotal,
.od_nameAcntAtotal {
    display: flex;
}

.orderDetail_list > dl > dt{
    font-weight: bold;
}

.od_1 > dl > dd {
    margin-left: 10px;
}

.od_1 > dl, h3 {
    padding: 10px;
}

h3  {
    margin-bottom: 10px;
}

.product_list {
    padding: 1em;
    margin-bottom: 20px;
    justify-content: space-between;
}

.pList_1 > img {
    width: 130px;
}

.od_nameAcntAtotal {
    padding: 1em;
    flex-direction: column;
    justify-content: space-between;
}

.od_pList_cntAtotal > dt {
    width: 6em;
    margin-bottom: 10px;
} */
