#review_list_2 { 
    justify-content: end;
}

#review_list_2 > button {
    width: 100px;
    height: 40px;
    font-size: small;
}

.list_1_2 > a {
    margin-top: 20px;
}

.reviewBtn > a:nth-child(2) {
    background-color: #f0f0f0;
    font-weight: bold;
}

.reviewBtn > a:nth-child(1) {
    color: #FF8339;
    font-weight: bold;
}